# Dashboard Stack environment variables

# MySQL
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=dashboard
MYSQL_USERNAME=dashboard
MYSQL_PASSWORD=

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USERNAME=admin
GRAFANA_ADMIN_PASSWORD=

# phpMyAdmin
PMA_PORT=8989
